source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none

nuget FSharp.Core ~> 8.0
nuget Fable.Remoting.Giraffe ~> 5.3
nuget FSharp.Data.SqlClient
nuget Microsoft.Data.SqlClient
nuget NodaTime
nuget Saturn
nuget Azure.Storage.Blobs
nuget BCrypt.Net-Next
nuget Thoth.Json.Giraffe
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 8.0
nuget Microsoft.AspNetCore.WebUtilities ~> 8.0
nuget Microsoft.Net.Http.Headers ~> 8.0
github rspeele/TaskBuilder.fs TaskBuilder.fs

nuget Simple.Migrations

nuget Expecto

nuget Fable.Core
nuget Fable.Browser.Dom
nuget Fable.Browser.XMLHttpRequest
nuget Fable.Promise
nuget Fable.Fetch
nuget Fable.Elmish
nuget Fable.Elmish.Browser
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client ~> 7.16
nuget Feliz
nuget Feliz.Bulma
nuget Feliz.Recharts
nuget Fulma

github projecteon/fshelpers src/FsHelpers/Elmish.Debounce/Elmish.Debounce.fs

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Farmer