group Domain
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget NodaTime

group Services
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core

group Infrastructure.MsSql
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget FSharp.Data
    nuget FSharp.Data.SqlClient
    nuget NodaTime
    github rspeele/TaskBuilder.fs TaskBuilder.fs

group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget Saturn
    nuget Thoth.Json.Giraffe ~> 2.1
    nuget BCrypt.Net-Next
    nuget NodaTime
    nuget WindowsAzure.Storage ~> 9.3

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Browser.Dom ~> 1
    nuget Fable.Browser.XMLHttpRequest ~> 1
    nuget Fable.Promise ~> 2
    nuget Fable.Fetch ~> 2
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Browser ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.React ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.FontAwesome ~> 2
    nuget Fable.FontAwesome.Free ~> 2
    nuget Fable.React ~> 5
    nuget Fable.Recharts ~> 1
    nuget Fulma ~> 2

    github projecteon/fshelpers src/FsHelpers/Elmish.Debounce/Elmish.Debounce.fs
    github projecteon/Fable.C3 src/Fable.C3/Fable.C3.fs
    github projecteon/Fable.C3 src/Fable.C3.React/Chart.fs

    clitool dotnet-fable

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core 4.6 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target ~> 5.13
    nuget Fake.DotNet.Cli ~> 5.13
    nuget Fake.IO.FileSystem ~> 5.13
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    nuget FAKE ~> 5.8

    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs